/* ============================================= */
/* Variables                                     */
/* ============================================= */

// Descriptive Colors

$Outer-Space  :#343a40;
$Supernova    :#fdc500;
$Athens-Gray  :#e9ecef;
$Golden-Dream :#f7df32;
$Mariner      :#254bdc;
$Punch        :#dd4b2b;
$Trinidad     :#E85D04;

// Functional Color Variables

$prim-color       :$Outer-Space;
$sec-color        :$Athens-Gray;
$text-hover-color :$Supernova;
$javascript-icon  :$Golden-Dream;
$css-icon         :$Mariner;
$html-icon        :$Punch; 
$arrow-icon       :$Trinidad;

// Font Weight
