/* ============================================= */
/* Variables                                     */
/* ============================================= */

// Descriptive Colors

$Outer-Space  :#343a40;
$Supernova    :#fdc500;
$Athens-Gray  :#e9ecef;

// Functional Color Variables

$prim-color       :$Outer-Space;
$sec-color     :$Athens-Gray;
$text-hover-color :$Supernova;

// Font Weight
