/* ============================================= */
/* Containers                                    */
/* ============================================= */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto; // Applied to keep the footer at the bottom of the page.
}

.intro-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.introduction-image {
  background: url('https://ik.imagekit.io/l4mzocxldem/beard_Jf4tvFws0.jpg') no-repeat center center/cover;
  background-size: contain;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.number-load {
  font-size: 50px;
}

.introduction {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.introduction {
  h2:nth-of-type(1) {
    margin-top: 2em;
  }
  h2:nth-of-type(2) {
    margin-top: .4em;
    margin-bottom: .4em;
  }
  h2:nth-of-type(3) {
    margin-bottom: 3em;
  }
}

// Footer styling

.main-footer {
  display: flex;
  flex-shrink: 0; // Applied to keep the footer at the bottom of the page.
  justify-content: center;
  flex-wrap: wrap;
  background: $prim-color;
}

// Copyright container within the footer.
.cr-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 6px;
}

// About page styling

.about-main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

// Projects styling

.icon-container {
  display: flex;
  justify-content: center;
  margin-top: .8em;
}

.img-container,
.projects-description {
  margin-top: 2em;
}

.img-container:nth-of-type(1),
.projects-description:nth-of-type(1) {
  margin-top: 0;
}

.img-container {
  position: relative;
}

.projects-description {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  & p {
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

.photo-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(52, 58, 64, .50);
  opacity: 0;
  display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: .5s ease-in;
  &:hover {
    opacity: 1;
  }
}

// Contact styling

.contact-intro {
  margin-top: 1em;
}

// Media Queries

@media(min-width: 768px) {
  // Main page styling at 768px.
  .main-section {
    margin: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  // Projects styling at 768px.
  .main-section-pr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-1 {
    grid-area: image-1;
  }
  .description-1 {
    grid-area: description-1;
  }
  .img-2 {
    grid-area: image-2
  }
  .description-2 {
    grid-area: description-2
  }
  .img-3 {
    grid-area: image-3;
  }
  .description-3 {
    grid-area: description-3;
  }
  .img-4 {
    grid-area: image-4;
  }
  .description-4 {
    grid-area: description-4;
  }
  .projects-container {
    display: grid;
    width: 90%;
    padding: .5em;
    margin-bottom: 1.5em;
    border: 1px solid black;
    border-radius: 5px;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "image-1 description-1"
      "description-2 image-2"
      "image-3 description-3"
      "description-4 image-4";
    align-items: center;
  }
  .icon-container {
    margin-top: 1em;
  }
}

// Skills page styles

.skills-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  width: 80%;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}



@media(min-width: 1024px) {
  // Main page styling at 1024px and larger.
  .introduction {
    h2:nth-of-type(1) {
      margin-top: 3em;
    }
    h2:nth-of-type(3) {
      margin-bottom: 4em;
    }
  }
  // Projects styleing at 1024px and larger.
  .projects-description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    p {
    line-height: 1.5;
    }
  }
  .icon-container {
    margin-top: 1.5em;
  }
}  