/* ============================================= */
/* Icons                                         */
/* ============================================= */

// Projects icons styling

.projects-icon {
  font-size: 1.4em;
}

.css3 {
  margin: 0 .5em;
  color: $css-icon;
}

.js {
  color: $javascript-icon;
}

.html {
  color: $html-icon; 
}

.arrow {
  color: $arrow-icon;
}

.sk-html {
  margin-right: .5em;
}

.ny-js {
  margin-left: .5em;
}

// Contact styles

.fa-phone {
  color: blue;
  margin-right: 4px;
}

.fa-envelope {
  margin-right: 4px;
  color: orange;
}

// Footer icons styling

.fa-github,
.fa-linkedin-in {
  font-size: 26px;
  color: $Athens-Gray;
  padding: 4px;
  margin: 2px;
}

.footer-icon:hover {
  color: $text-hover-color;
  transition: .5s ease;
}

@media(max-width: 767px) {
  .arrow {
    display: none;
  }
}

@media(min-width: 1024px) {
  .projects-icon {
    font-size: 2em;
  }
}