/* ============================================= */
/* Icons                                         */
/* ============================================= */

.fa-github,
.fa-linkedin-in {
  font-size: 26px;
  color: $Athens-Gray;
  padding: 4px;
  margin: 2px;
}

.footer-icon:hover {
  color: $text-hover-color;
  transition: .5s ease;
}