/* ============================================= */
/* Images                                        */
/* ============================================= */

// Main page image
.beard {
  width: 300px;
  margin-top: 1em;
}

@media(min-width: 768px) {
  .beard {
    width: 90%;
  }
}