/* ============================================= */
/* Images                                        */
/* ============================================= */

// About page images.
.about-img {
  width: 300px;
}

// Projects page images.
.projects-img {
  width: 100%;
  opacity: 1;
  display: block;
  backface-visibility: hidden;
  transition: .5s ease;
  &:hover {
    opacity: 0.3;
  }
}

.icon-materialize {
  height: 1em;
  margin-top: 3px;
}

.icon-bulma {
  height: 1.3em;
  margin-left: .8em;
}

// Skills styles
.skills-image {
  width: 100px;
  margin-top: 2em;
  padding: 10px;
  height: 100px;
}

@media(min-width: 768px) {
  .icon-materialize {
    height: 1.1em;
    margin-top: 2px;
  }
  .icon-bulma {
    margin-left: .8em;
    height: 1.3em;
  }
}

@media(min-width: 1024px) {
  .icon-materialize {
    height: 1.5em;
    margin-top: 4px;
  }
  .icon-bulma {
    height: 1.7em;
    margin-top: 2px;
  }
}